@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

.navigation-wraper {
  padding: 0 30px;
  height: 100px;
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
}

.navigation {
  width: 1200px;
  margin: 0 auto;
}

.ml {
  margin-left: 40px;
}

.navigation,
.left-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content p {
  color: #121212;
  font-size: 16px;
}

.brand-name {
  color: #0290ff;
  font-size: 30px;
  font-weight: 700;
}

.right-content .login-user {
  border: 1px solid rgb(221, 221, 221);
  padding: 10px 12px;
  border-radius: 25px;
}

.right-content i {
  color: #0290ff;
}

#categories-tab {
  color: #b1b1b1;
}
