@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.Lesson-Panel {
  margin: 37px 100px 0;
  padding: 32px 147px 26px 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;

  display: flex;
  justify-content: space-around;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.left-side .category {
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.left-side .title {
  margin: 3px 323px 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.left-side .link {
  margin: 4px 0 0;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background: white;
}

.left-side .author {
  margin-bottom: 12px;
}

.left-side .bottom-row {
  display: flex;
}

.left-side .bottom-row .link {
  padding-right: 6px;
}

.left-side .bottom-row .br {
  border-right: 1px solid #e8e8e8;
}

.left-side .bottom-row .ml {
  margin-left: 6px;
}

.center-side {
  display: flex;
  align-items: center;
  border-right: 1px solid #e8e8e8;
  width: 30%;
}

.center-side .progress-picture {
  width: 90px;
  height: 89.9px;
  padding: 9.9px 10px 12px 12px;
}

.center-side .Oval-2 {
  width: 68px;
  height: 68px;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1;
}

.center-side .percentage {
  margin: 1px 92px 0 11px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.center-side .completed {
  margin: 7px 79px 12px 12px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.right-side {
  width: 30%;
}

.right-side .current-chapter {
  margin: 1px 58px 0 59px;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.right-side .chapter {
  margin: 7px 109px 4px 59px;
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.right-side button {
  margin: 12px 0 9px 59px;
  padding: 7px 19px 8px 22px;
  border: 1px solid #0290ff;
  border-radius: 3px;
  background-color: #0290ff;

  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;

}
